*.deb filter=lfs diff=lfs merge=lfs -text
kahcs/linux-image-6.8.12-full_6.8.12-gcb442f4427cc-4_amd64.deb !text !filter !merge !diff
kahcs/linux-headers-6.8.12-full_6.8.12-gcb442f4427cc-4_amd64.deb !text !filter !merge !diff
kahcs/linux-libc-dev_6.8.12-gcb442f4427cc-4_amd64.deb !text !filter !merge !diff
